<app-header></app-header>




<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
    <div class="bgimg"></div>
</nav>



<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">

    <!-- Menu icon to open sidebar -->


    <!-- Header -->
    <header class="w3-container w3-center" style="padding:128px 16px" id="home">
        <h1 class="w3-jumbo"><b>Arshad Mujawar</b></h1>
        <p>MEAN STACK DEV.</p>
        <img src="/w3images/profile_girl.jpg" class="w3-image w3-hide-large w3-hide-small w3-round"
            style="display:block;width:60%;margin:auto;">
        <img src="/w3images/profile_girl.jpg" class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000"
            height="1333">
        <button class="w3-button w3-light-grey w3-padding-large w3-margin-top">
            <img src="../../../assets/download.svg" style="margin-right: 10px;margin-bottom: 6px;">
            <b>Download Resume </b>
        </button>
    </header>

  
    <!-- About Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
        <h2>About</h2>
        <hr class="w3-opacity">
        <p class="para">Dynamic and detail-oriented Full Stack Developer with a proven track record in designing and implementing scalable web applications. Proficient in the MEAN stack (MongoDB, Express.js, Angular, Node.js) with a strong foundation in both front-end and back-end technologies. Adept at collaborating with cross-functional teams to deliver high-quality solutions within project timelines.
        </p>
        <h3 class="w3-padding-16">My Skills</h3>
        <p class="w3-wide">Angular 15</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:95%">95%</div>
        </div>
        <p class="w3-wide">Spring MVC</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:85%">85%</div>
        </div>
        <p class="w3-wide">Node JS with Express</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:80%">80%</div>
        </div><br>

        <div class="w3-row w3-center w3-dark-grey w3-padding-16 w3-section">
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">14+</span><br>
                Partners
            </div>
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">55+</span><br>
                Projects Done
            </div>
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">89+</span><br>
                Happy Clients
            </div>
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">150+</span><br>
                Meetings
            </div>
        </div>

        <button class="w3-button w3-light-grey w3-padding-large w3-section">
            <i class="fa fa-download"></i> Download Resume
        </button>

        <!-- Testimonials -->
        <h3 class="w3-padding-24">My Reputation</h3>
        <img src="../../../assets/review3.jpg" alt="Avatar" class="w3-circle w3-margin-right" style="width:80px">
        <p><span class="w3-large w3-text-black w3-margin-right">Priyanka Devedas</span> Project Manager.</p>
        <p>Arshad Mujawar worked on some complex task and performed excellent  in those senerious..</p><br>

        <img src="../../../assets/review2.jpg" alt="Avatar" class=" w3-circle w3-margin-right" style="width:80px">
        <p><span class="w3-large w3-text-black w3-margin-right">Senthil Kumar</span> Senior Project Manager.</p>
        <p>Arshad Mujawar well in both Support whenever required...</p><br>

        <img src="../../../assets/review1.jpg" alt="Avatar" class=" w3-circle w3-margin-right" style="width:80px">
        <p><span class="w3-large w3-text-black w3-margin-right">Rebecca Flex.</span> CEO at Company.</p>
        <p>Great Work .</p><br>

        <!-- Grid for pricing tables -->
        <h3 class="w3-padding-16">Biling</h3>
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half w3-margin-bottom">
                <ul class="w3-ul w3-center w3-card w3-hover-shadow">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
                    <li class="w3-padding-16">Front End </li>
                    <li class="w3-padding-16">Back End</li>
                    <li class="w3-padding-16">Mongo DB</li>
                    <li class="w3-padding-16">Devops</li>
                    <li class="w3-padding-16">
                        <h2>$300</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
                    </li>
                </ul>
            </div>

            <div class="w3-half">
                <ul class="w3-ul w3-center w3-card w3-hover-shadow">
                    <li class="w3-black w3-xlarge w3-padding-32">Pro</li>
                    <li class="w3-padding-16">Front End</li>
                    <li class="w3-padding-16">Back End + RestApi</li>
                    <li class="w3-padding-16">Mongo DB + mySQL</li>
                    <li class="w3-padding-16">Devops + Endless Support.</li>
                    <li class="w3-padding-16">
                        <h2>$500</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
                    </li>
                </ul>
            </div>
            <!-- End Grid/Pricing tables -->
        </div>

        <!-- End About Section -->
    </div>

    <!-- Contact Section -->
    <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
        <h2>Contact Me</h2>
        <hr class="w3-opacity">

        <div class="w3-section">
            <p class="para"> <img src="../../../assets/geo-alt-fill.svg" class="sizing-contact-images" alt=""> Pune, Maharashtra India</p> <br>
            <p class="para"><img src="../../../assets/person-lines-fill.svg" class="sizing-contact-images" alt=""> Phone: +91 8530416260</p> <br>
            <p class="para"><img src="../../../assets/envelope-at-fill.svg" class="sizing-contact-images" alt=""> Email: arshmujawar17@gmail.com</p>
        </div>

        <!-- Image of location/map -->
        <img src="../../../assets/map-local.png" class="w3-image w3-greyscale" style="width:100%;margin:32px 0">

        <p *ngIf="!submitted">Lets get in touch. Send me a message:</p>
       <div *ngIf="!submitted">
        <form [formGroup]="notifyForm" (ngSubmit)="notify()">
            <br>
            <div class="form-group">
                <label for="">Name</label>
                <input  type="text" placeholder="Your Name" formControlName="fullname"  class="form-control sizing-input">
                <br>
            </div> 

            <div class="form-group"> 
                <label for="">Email</label>
                <input  type="text" placeholder="Your Email" formControlName="email"  class="form-control sizing-input">
                <br>
            </div>

            <div class="form-group">
                <label for="">Subject</label>
                <input  type="text" placeholder="Subject" formControlName="subject" class="form-control sizing-input">
                <br>
            </div>

            <div class="form-group">
                <label for="">Message</label>
                
                <textarea class="form-control sizing-input" formControlName="message" placeholder="Enter your message here..." rows="2" 
                          ></textarea>
                <br>
            </div>
            <div *ngIf="allFiledsRequired">
                <p *ngIf="allFiledsRequired" class="alert alert-danger">All Fileds are required</p>
            </div>
                <button type="submit" class="btn btn-outline-danger sizing-btn" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-send-check" viewBox="0 0 16 16">
                        <path
                            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z" />
                        <path
                            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z" />
                    </svg>
                    Send Notifocation
                </button>
            
        </form>
       </div>
       <div *ngIf="submitted">
          <h4>{{ respMessage  }}</h4>
       </div>
        <!-- End Contact Section -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
        <img src="../../../assets/linkedin.svg"  class="sizing-contact-images"  alt=""> &nbsp; &nbsp;
        <img src="../../../assets/meta.svg" class="sizing-contact-images"   alt="">  &nbsp; &nbsp;
        <img src="../../../assets/instagram.svg" class="sizing-contact-images"  alt=""> &nbsp; &nbsp; <br> <br>
        <p class="w3-medium">Powered by <a href="" target="_blank" class="w3-hover-text-green">AM_SOFT.com</a></p>
        <!-- End footer -->
    </footer>




    <!-- END PAGE CONTENT -->
</div>















<app-footer></app-footer>