<div class="upper-border">
  <ul class="nav-links bold-text">
    <li class="li-width"><a [routerLink]='["search"]' routerLinkActive="active"><span class="li-width">Search</span></a>
    </li>
    <li class="li-width"><a [routerLink]='["add"]' routerLinkActive="active"><span class="li-width">Add</span></a></li>
    <li class="li-width"><a [routerLink]='["update"]' routerLinkActive="active"><span class="li-width">Update</span></a>
    </li>
    <li class="li-width1"><a [routerLink]='["delete"]' routerLinkActive="active"><span class="li-width1">Archive Employee</span></a>
    </li>
    <li class="li-width"><a [routerLink]='["view"]' routerLinkActive="active"><span class="li-width">View</span></a>
    </li>
    <li class="li-width"><a [routerLink]='["archiveView"]' routerLinkActive="active"><span class="li-width">Archive View</span></a>
    </li>
    
  </ul>
</div>

<router-outlet></router-outlet>