<div class="back-ground">
    <h1 class="remove-css">TBR Archived Employees Details</h1>
    <hr size="4" />
    <div *ngIf="!showViewMatchesDiv" class="container">
        <div class="items1"> <img class="image-css" src="../../../../assets/nodatafound.jpeg" alt=""></div>
        <div class="items2">
            <h2> Opps !!! No Data Found in TBR DataBase......</h2>
            
        </div>

    </div>
    <div *ngIf="showViewMatchesDiv">
        <div *ngIf="false" class="pagination" >
            <div *ngFor="let emp of tbrEmployee;let i=index">
                <span *ngIf="i==stPgIndex"><a (click)="reindexBackPagination(stPgIndex)">&laquo;</a></span>
                <a *ngIf="i>=stPgIndex && i<=endPgIndex" (click)="pagination(i)">{{i}}</a>
                <span *ngIf="i==endPgIndex"><a (click)="reindexNextPagination(endPgIndex)">&raquo;</a></span>
            </div>
               
           </div>
        
           <!--pagination st -->
           <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end" *ngIf="setUpperLimit==1">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
            </ul>
            <ul class="pagination justify-content-end" *ngIf="setUpperLimit==2">
        
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
        
        
            </ul>
            <ul class="pagination justify-content-end" *ngIf="setUpperLimit==3">
        
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
        
            </ul>
            <ul *ngIf="setUpperLimit>3" class="pagination justify-content-end">
        
                <li class="page-item">
                    <a class="page-link" (click)="reindexBackPagination(stPgIndex)" tabindex="-1">Previous</a>
                </li>
                <li class="page-item" *ngFor="let emp of tbrEmployee;let i=index"><a *ngIf="i>=stPgIndex && i<=endPgIndex"
                        (click)="pagination(i)" class="page-link">{{i+1}}</a></li>
                <li class="page-item">
                    <a class="page-link" (click)="reindexNextPagination(endPgIndex)">Next</a>
                </li>
            </ul>
        </nav>
           <!--pagination end -->
        
           
        
          <table>
            <div class="grid-1">
                <tr *ngFor="let emp of tbrEmployee;let i=index">
                    <div class="inside-grid" *ngIf="i>=stIndex && i<endIndex" >
        
        
                        <div class="card align">
                            <img *ngIf="emp.gender==MALE"  src="../../../../assets/EmployeeMale.png" class="sizing" alt="Fissure in Sandstone"/>
                            <img *ngIf="emp.gender==FEMALE"  src="../../../../assets/EmployeeFemale.png" class="sizing" alt="Fissure in Sandstone"/>
                            <div class="card-body font-mixing">
                              <h4 >{{emp.first_name}} {{emp.last_name}}</h4>
                              <h4>Employee Id : {{emp.emp_id}}</h4>
                              <p >Job Title Was :{{emp.job_title}}</p>
                              <p >Reason For Archiving : {{emp.Comments}}</p>
                             
        
                            </div>
                          </div>
                         
        
                    </div>
                </tr>
            </div>
          </table>
          
           
            <br>
    </div>
</div>