.btn {
    padding: .55rem 1.5rem .45rem;
  }

  .main-div{
    background-color: #302f49;

  }

  a:hover {
    color : #5ef08a;

  }

  .width-a{
    width: 150px;
    margin-top: 1em;
  }

  .sizing{
    color: red;
    height: 40px;
    width: 40px;
  }

  .sizing-1{
    margin-top: 1em;
    height: 40px;
    width: 40px;
    margin-left : -1em;
  }
